{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}

<div class="alert alert-info mb-5 col-md-8" role="alert">

    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.

</div>


    <div class="card p-5 mb-5">
        <h3 >Ajouter une annonce</h3>
        {{ include("OCPlatformBundle:Advert:form.html.twig") }}

    </div>


{% endblock %}
